.breadcrum-nav-block {
  border-bottom: 1px solid #ddd;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 13px;

  .breadcrum-nav-list {
    li {
      float: left;
      position: relative;
      padding-right: 40px;
      color: #888;

      &::before {
        content: "";
        width: 8px;
        height: 8px;
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -5px;
        border-left: 2px solid #ccc;
        border-bottom: 2px solid #ccc;
        @include transform(rotate(-135deg));
        display: block;
      }

      &:last-child {
        padding-right: 0;
        &::before {
          display: none;
        }
      }
    }
  }
}
