.cart-items-list {
  li {
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }
}

.each-cart-item {
  border: 1px solid #ddd;
  @include border-radius(10px);
  position: relative;
  float: left;
  width: 100%;
  background-color: #fff;

  .each-cart-item-count {
    background-color: $gray-200;
    @include border-radius(100px);
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 4;
  }

  .each-cart-title-info-block {
    float: left;
    width: 100%;
    padding: 15px 20px;
  }

  /* .each-cart-item-price {
    float: left;
    width: 100%;
    text-align: right;
    font-size: 22px;
    padding: 0 15px;

    i {
      font-size: 16px;
      color: $gray-500;
    }
  } */
}

.total-block {
  /* border-top: 1px solid #ccc;
  padding-top: 25px; */

  .total-outer-block {
    float: left;
    width: 100%;
  }

  .each-total-row {
    padding-bottom: 8px;
    float: left;
    width: 100%;
    .each-total-title {
      float: left;
      font-size: 14px;
      width: 100px;
    }
    .each-total-number {
      float: left;
      width: calc(100% - 100px);
      text-align: right;
      font-size: 16px;

      i {
        font-size: 13px;
        color: $gray-600;
      }
    }
  }

  .grand-total {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 6px;
    padding-bottom: 7px;
  }

  @include media-breakpoint-up(md) {
    .total-outer-block {
      float: right;
      max-width: 300px;
    }
  }
}

.each-cart-item-actions {
  padding: 10px 20px;
  border-top: 1px dotted #ddd;
  display: flex;
  font-size: 14px;
  align-items: stretch;

  .each-cart-items-count {
    min-width: 100px;
    max-width: 100px;
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;

    span.qty-text {
      margin-right: 5px;
    }
  }

  .each-cart-item-delete {
    width: 100px;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .delete-item-btn {
    border: 1px solid transparent;
    padding: 3px 10px;
    height: 31px;
    font-size: 14px;
    color: $blue;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    display: block;
    @include border-radius(5px);

    &:hover {
      background-color: $danger;
      color: white;
      border-color: $danger;
    }

    &:focus,
    &:active {
      outline: none;
      outline-color: transparent;
    }
  }

  .each-cart-item-price {
    width: calc(100% - 200px);
    text-align: right;
    font-size: 18px;
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    justify-content: flex-end;

    i {
      font-size: 13px;
    }
  }
}
