.full-width {
  float: left;
  width: 100%;
}

::placeholder {
  font-size: 14px;
  color: #aaa;
  font-style: italic;
  opacity: 0.3;
}

::-webkit-placeholder {
  font-size: 14px;
  color: #aaa;
  font-style: italic;
  opacity: 0.3;
}

::-moz-placeholder {
  font-size: 14px;
  color: #aaa;
  font-style: italic;
  opacity: 0.3;
}

.hover-underline {
  &:hover {
    text-decoration: underline;
  }
}

.text-underline {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.text-decoration-line {
  text-decoration: none;
}

.word-break {
  word-wrap: break-word;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y {
  overflow: hidden;
  overflow-y: auto;
}

.overflow-x {
  overflow: hidden;
  overflow-x: auto;
}

.disabled,
input[disabled],
button[disabled] {
  cursor: not-allowed;
}

.font-size-sm {
  font-size: 12px !important;
}

.font-size {
  font-size: 14px !important;
}

.font-size-md {
  font-size: 18px !important;
}

.font-size-lg {
  font-size: 22px !important;
}

.font-size-xl {
  font-size: 26px !important;
}

.font-size-xxl {
  font-size: 30px;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.max-height-100 {
  max-height: 100px;
}

.max-height-150 {
  max-height: 150px;
}

.max-height-200 {
  max-height: 200px;
}

.max-height-300 {
  max-height: 300px;
}

.max-height-400 {
  max-height: 400px;
}

.max-height-500 {
  max-height: 500px;
}

.max-height-600 {
  max-height: 600px;
}

.max-height-700 {
  max-height: 700px;
}

.max-height-100,
.max-height-150,
.max-height-200,
.max-height-300,
.max-height-400,
.max-height-500,
.max-height-600,
.max-height-700 {
  @extend .overflow-y;
}

.font-italic {
  font-style: italic;
}

.line-height-1,
.line-height {
  line-height: 1 !important;
}

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-none {
  list-style: none;
  padding: 0;
}

.min-height {
  min-height: 460px;

  @media screen and (min-width: 768px) {
    min-height: 600px;
  }
}

.background-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.background-contain {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

button,
input {
  &:disabled {
    cursor: not-allowed;
  }
}

.checkbox,
.radio {
  position: relative;
  cursor: pointer;

  .checkbox-text,
  .radio-text {
    position: relative;
    padding-left: 23px;
    color: #333;
    font-size: $font-size-base;

    &.font-size-sm {
      padding-top: 5px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 1px;
      width: 16px;
      height: 16px;
      border: 1px solid #aaa;
      background-color: white;
      @include transition(all 0.3s ease);
    }

    &::after {
      content: "";
      position: absolute;
      left: 1px;
      top: 2px;
      width: 14px;
      height: 7px;
      border-right: 2px solid white;
      border-top: 2px solid white;
      @include transform(rotate(0deg));
      opacity: 0;
      @include transition(all 0.3s ease);
      /* @include transform(rotate(135deg)); */
    }
  }

  .radio-text {
    &::before {
      @include border-radius(100px);
    }
  }

  .checkbox-input,
  .radio-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
  }

  .checkbox-input {
    &:checked + .checkbox-text {
      &::before {
        border-color: $primary;
        background-color: $primary;
      }

      &::after {
        @include transform(rotate(135deg));
        opacity: 1;
      }
    }

    &:disabled + .checkbox-text {
      color: $gray-500;
      font-size: 14px;

      &::before {
        background-color: $gray-400;
        border-color: $gray-400;
      }

      &::after {
        @include transform(rotate(135deg));
        opacity: 1;
      }
    }
  }

  .radio-input {
    &:checked + .radio-text {
      &::before {
        border-color: $primary;
        background-color: $primary;
      }

      &::after {
        @include transform(rotate(135deg));
        opacity: 1;
      }
    }
  }
}

.radio-button {
  border: 1px solid $gray-400;
  background-color: white;
  float: left;
  display: block;
  height: 30px;
  cursor: pointer;
  margin-left: -1px;
  position: relative;
  margin-bottom: 0;

  .radio-button-text {
    display: block;
    @extend .full-width;
    position: relative;
    height: 100%;
    background-color: white;
    padding: 0px 13px;
    line-height: 26px;
    border: 1px solid transparent;
    color: #333;
    font-size: $font-size-base;

    i {
      font-size: 14px;
      line-height: 1;
    }

    &.has-info {
      &::after {
        content: attr(data-info);
        position: absolute;
        top: 100%;
        font-size: 11px;
        color: #666;
        text-align: center;
        left: 0;
        right: 0;
        @include transform(translateY(-2px));
        display: none;
      }
    }
  }

  .radio-button-input {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    overflow: hidden;

    &:checked + .radio-button-text {
      background-color: $success;
      color: white;

      i {
        color: white;
      }

      &.has-info {
        &::after {
          display: block;
        }
      }
    }

    &:focus + .radio-button-text {
      border-color: $blue;
    }
  }
}

.visibility-hidden {
  visibility: hidden;
}

.check-mark-list,
.check-list {
  position: relative;

  li {
    position: relative;
    padding-left: 20px;

    &::before {
      content: "";
      position: absolute;
      left: 3px;
      top: 3px;
      width: 6px;
      height: 11px;
      border-right: 2px solid $gray-500;
      border-bottom: 2px solid $gray-500;
      @include transform(rotate(45deg));
    }
  }
}
