.each-review {
	.each-review-user-info {
		text-decoration: none;
		color: $gray-700;
		display: flex;
		align-items: center;

		.each-review-user-photo {
			width: 40px;
			height: 40px;
			@include border-radius(100px);
			display: block;
			border: 1px solid $gray-400;
			background-color: $gray-600;
			float: left;
			font-size: none;

			&.no-photo {
				font-size: 16px;
				line-height: 48px;
			}
		}

		.each-review-user-name {
			float: left;
			color: $link-color;
			width: calc(100% - 40px);

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.each-review-rating {
		float: left;
		width: 100%;
		text-decoration: none;

		a {
			text-decoration: none;
			color: $warning;
			display: block;
			line-height: 1;

			i {
				font-size: 20px;
			}
		}
	}

	.each-review-title {
		float: left;
		width: 100%;
		text-decoration: none;
		color: $gray-700;
		text-decoration: none;
		font-weight: 700;
		font-size: 14px;
	}

	.each-review-date {
		color: $gray-600;
		font-size: 13px;
		padding-top: 5px;
	}

	.each-review-footer-helpful-count {
		font-size: 13px;
		color: $gray-600;
	}

	.each-review-footer-actions {
		float: left;
		width: 100%;
		padding-top: 5px;
		font-size: 13px;

		a {
			color: $gray-700;
		}
	}

	@include media-breakpoint-up(md) {
		.each-review-rating {
			width: auto;
		}
		.each-review-title {
			width: auto;
			padding-left: 10px;
		}
	}
}
