.each-product {
  position: relative;

  @include box-shadow(1px 1px 8px rgba(26, 36, 143, 0.3));
  @include border-radius(15px);
  @include transition(all 0.4s ease);
  min-height: 360px;
  max-height: 360px;
  overflow: hidden;
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;

  /* .each-product-link-block {
    .each-product-title {
      background-repeat: no-repeat;
      background-size: cover;
      @include border-radius(15px);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      @extend .heading-md;
      color: white;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 330px;

      .each-product-title-text {
        position: relative;
        z-index: 3;
        color: white;
        @extend .heading-md;
        height: 150px;
      }
    }
  }
 */
  .each-product-title-block {
    .each-product-image {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 150px;
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      @include border-radius(15px);
      @include transition(all 0.2s ease-in-out);

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(134, 37, 104, 0.7);
        z-index: 2;
        @include border-radius(15px);
      }
    }

    .each-product-title-text {
      height: 150px;
      float: left;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 4;
    }

    .each-product-title-text {
      display: flex;
      align-items: center;
      justify-content: center;
      @extend .heading-md;
      color: white;
      padding: 20px;
    }
  }

  .each-product-desc {
    font-size: 14px;
    color: $gray-600;
    height: 60px;
    overflow: hidden;
    line-height: 1.6;
    padding: 15px 15px 0 15px;
  }

  .each-product-action {
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    z-index: 4;

    .each-product-btn {
      font-size: 16px;
      color: white;
      padding: 0px 50px;
      @include border-radius(100px);
      background-color: $primary;
      height: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: lighten($primary, 5%);
      }
    }
  }

  .each-product-tags-list {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 4;
    display: flex;
    align-items: center;
  }

  &.each-product-by-country {
    min-height: 270px;
    max-height: 270px;

    .each-product-country-flag {
      height: 150px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      @include border-radius(15px);
    }
  }

  @include media-breakpoint-up(lg) {
    .each-product-title-block {
      .each-product-image {
        height: 360px;
      }
    }
    &:hover {
      @include box-shadow(4px 8px 25px rgba(26, 36, 143, 0.5));
      @include transform(translateY(-10px) !important);
      .each-product-title-block {
        .each-product-image {
          height: 150px;
        }
      }
    }
  }
}

.each-tag {
  float: left;
  display: block;
  background-color: $gray-200;
  color: $gray-800;
  padding: 2px 8px;
  @include border-radius(100px);
  margin-right: 10px;
  font-size: 13px;
  line-height: 1;

  &:hover {
    background-color: $gray-400;
    text-decoration: none;
  }
}
