.faqs-list {
  li {
    padding-left: 10px;
    @include transform(translateY(-15px));
  }
}

.each-faq-block {
  position: relative;
  background-color: white;
  @include box-shadow(0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important);
  @include transition(all 0.3s ease);

  .each-faq-question {
    position: relative;
    padding: 10px 50px 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    font-weight: 700;
    color: #666;
    /* &::before {
      content: "+";
      width: 40px;
      height: 40px;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -20px;
      font-size: 32px;
      font-weight: 300;
      line-height: 1;
      text-align: center;
      color: #888;
    } */

    &::before {
      content: "";
      width: 12px;
      height: 12px;
      position: absolute;
      right: 15px;
      top: 15px;
      /* margin-top: -8px; */
      border-bottom: 2px solid #ccc;
      border-right: 2px solid #ccc;
      @include transform(rotate(45deg));
      @include transition(all 0.3s ease);
    }
  }

  .each-faq-answer {
    padding: 20px;
    display: none;
    color: #222;
  }

  &.show {
    @include box-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important);

    .each-faq-question {
      color: #222;

      &::before {
        @include transform(rotate(-135deg));
        top: 17px;
      }
    }
    .each-faq-answer {
      display: block;
    }
  }
}
