.footer {
  .footer-navigation-block {
    .each-footer-nav {
      font-size: 14px;
      color: #666;
      display: block;
      margin-bottom: 8px;
    }
  }
}

.subscribe-heading {
  color: $gray-600;
}

.subscribe-block {
  position: relative;
  .subscribe-input {
    @include border-radius(100px);
    width: 100%;
    padding-right: 115px;
  }

  .subscribe-button {
    position: absolute;
    right: 3px;
    top: 2px;
    @include border-radius(100px);
    height: 34px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer-each-social-link {
  width: 36px;
  height: 36px;
  display: inline-flex;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  @include border-radius(5px);
  margin-right: 5px;
  color: $gray-500;

  i {
    font-size: 20px;
    line-height: 1;
  }

  &.facebook {
    &:hover {
      background-color: $facebook;
      border-color: $facebook;
      color: white;
    }
  }

  &.twitter {
    &:hover {
      background-color: $twitter;
      border-color: $twitter;
      color: white;
    }
  }

  &.instagram {
    &:hover {
      background-color: $instagram;
      border-color: $instagram;
      color: white;
    }
  }
}

.copy-rights-block {
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
  }

  .copy-rights-text {
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    z-index: 3;
    color: $gray-600;
    font-size: 13px;

    a {
      color: $gray-600;
    }
  }
}
