.header {
  height: 50px;
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;

  @include media-breakpoint-up(lg) {
    height: 70px;
  }
}

.branding-block {
  padding-top: 5px;
  padding-bottom: 5px;
}

.branding {
  text-align: left;
  img {
    max-width: 40px;
    max-height: 40px;
  }

  @include media-breakpoint-up(lg) {
    img {
      max-height: 60px;
      max-width: 60px;
    }
  }
}

.mobile-menu-btn-nav-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-cart-btn {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  /* border: 1px solid #ddd;
  @include border-radius(100px); */
  border: none;
  background-color: white;
  padding: 0;
  color: $gray-600;
  margin-top: 10px;
  position: relative;

  .header-cart-count {
    position: absolute;
    right: 0px;
    top: -3px;
    font-size: 11px;
    background-color: $brand-red;
    line-height: 1;
    color: white;
    padding: 2px 4px;
    @include border-radius(100px);
    display: block;
  }

  i {
    font-size: 18px;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 5px;
    width: 40px;
    height: 40px;
  }
}

.main-content {
  margin-top: 50px;

  @include media-breakpoint-up(lg) {
    margin-top: 70px;
  }
}

.heading-xl {
  font-size: 30px;
}

.heading-lg {
  font-size: 26px;
}

.heading-md {
  font-size: 22px;
}

.heading-sm {
  font-size: 18px;
}

.home-enquiry-form {
  li {
    float: left;
    width: 100%;
  }
}

.qc-actions {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-end; */

  .checkbox {
    text-align: left;
  }

  .submit-enquiry-btn-block {
    float: left;
    width: 100%;
    text-align: right;
  }

  @include media-breakpoint-up(lg) {
  }
}

.qe-block {
  .home-enquiry-title {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      height: 1px;
      background-color: #ddd;
      z-index: 1;
    }

    span {
      padding-left: 30px;
      padding-right: 30px;
      display: inline-block;
      background-color: $brand-red;
      color: white;
      position: relative;
      z-index: 2;
    }
  }

  .submit-enquiry-btn {
    white-space: nowrap;
  }

  .qc-actions {
    padding-right: 15px;
  }

  @include media-breakpoint-up(md) {
    .home-enquiry-form {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      li {
        width: 50%;
      }
    }

    .qc-name,
    .qc-email,
    .qc-contact {
      max-width: 50%;
      padding-right: 15px;
    }

    .qc-actions {
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
    }

    .submit-enquiry-btn {
      margin-left: 20px;
      margin-bottom: 10px;
    }
  }

  @include media-breakpoint-up(lg) {
    .home-enquiry-form {
      li {
        width: 25%;
      }
    }

    .qc-actions {
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }
}
