.home-enquiry-form {
  li {
    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 0;
    }
  }
  label {
    margin-bottom: 3px;
    font-size: 14px;
  }
}

.each-home-section-list {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 30px;
  }
}

.each-product {
  /* &.move-product {
    @include transform(translateX(270px));
  } */
}

.each-home-section {
  .each-home-section-heading {
    padding-left: 20px;
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      height: 30px;
      width: 6px;
      background-color: $primary;
      position: absolute;
      left: 0;
      top: 0px;
    }

    .heading-lg {
      float: left;
      margin-right: 20px;
    }
  }
}

.view-all-links {
  white-space: nowrap;
  float: right;
}
