.login-column {
  position: relative;
  z-index: 5;
}

.register-column {
  position: relative;
  z-index: 3;
}

.login-form-list {
  li {
    float: left;
    width: 100%;
    padding-bottom: 15px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.login-or-block {
  position: relative;
  height: 100%;
  float: left;
  width: 100%;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-bottom: 1px solid #ddd;
  }

  span {
    background-color: $gray-100;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    z-index: 3;
    text-align: center;
    display: inline-block;
  }

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
      border-bottom: none;
      border-left: 1px solid #ddd;
      left: 50%;
      right: auto;
      top: 0;
      bottom: 0;
    }

    span {
      padding: 30px 0;
    }
  }
}
