.main-navigation-block {
  /* @include transform(translateX(-150%)); */
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 9;
  display: flex;
  justify-content: flex-end;
  @include transform(translateX(150%));
  @include transition(all 0.2s ease);

  @include media-breakpoint-up(md) {
    display: flex;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    overflow: visible;
    width: 100%;
    background-color: transparent;
    @include transform(translateX(0));
  }
}

.show-menu {
  .main-navigation-block {
    @include transform(translateX(0));
  }
}

.main-navigation {
  list-style: none;
  background-color: white;
  width: 75%;
  max-width: 500px;
  position: relative;
  height: 100%;
  overflow-y: auto;

  li {
    border-bottom: 1px solid #ddd;
    width: 100%;
    float: left;

    .each-nav-link {
      padding: 10px 15px 11px 15px;
      display: block;
      color: $gray-600;
      border-bottom: 4px solid transparent;

      &:hover {
        color: $primary;
        text-decoration: none;
      }

      &.active {
        color: $primary;
        border-bottom-color: $primary;
      }
    }

    &.login-register-block {
      padding: 5px;
      border-bottom: none;
      .login-register-btn {
        border: 1px solid #ddd;
        @include border-radius(1000px);
        display: block;
        text-decoration: none;
        padding: 7px 10px;
        text-align: center;
        color: $gray-600;
        line-height: 1;

        &:hover {
          background-color: $primary;
          color: white;
          border-color: $primary;
        }
      }

      &.active {
        .login-register-btn {
          background-color: $primary;
          color: white;
          border-color: $primary;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    position: relative;
    width: 100%;
    max-width: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > li {
      width: auto;
      border-bottom: none;

      &.login-register-block {
        padding-top: 8px;
        .login-register-btn {
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    > li {
      .each-nav-link {
        padding-top: 21px;
        padding-bottom: 20px;
      }
    }
  }
}
