@mixin border-radius($content: 3px) {
	-webkit-border-radius: $content;
	-moz-border-radius: $content;
	-ms-border-radius: $content;
	-o-border-radius: $content;
	border-radius: $content;
}

@mixin transform($content) {
	-webkit-transform: $content;
	-ms-transform: $content;
	-o-transform: $content;
	transform: $content;
}

@mixin transition($content) {
	-webkit-transition: $content;
	-o-transition: $content;
	transition: $content;
}

@mixin box-shadow($content) {
	-webkit-box-shadow: $content;
	box-shadow: $content;
}

// stylelint-disable declaration-no-important

// Margin and Padding

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		// Some special margin utils
		.m#{$infix}-05 {
			margin: 5px !important;
		}
		.mt#{$infix}-05,
		.my#{$infix}-05 {
			margin-top: 5px !important;
		}
		.mr#{$infix}-05,
		.mx#{$infix}-05 {
			margin-right: 5px !important;
		}
		.mb#{$infix}-05,
		.my#{$infix}-05 {
			margin-bottom: 5px !important;
		}
		.ml#{$infix}-05,
		.mx#{$infix}-05 {
			margin-left: 5px !important;
		}

		// Some special padding utils
		.p#{$infix}-05 {
			padding: 5px !important;
		}
		.pt#{$infix}-05,
		.py#{$infix}-05 {
			padding-top: 5px !important;
		}
		.pr#{$infix}-05,
		.px#{$infix}-05 {
			padding-right: 5px !important;
		}
		.pb#{$infix}-05,
		.py#{$infix}-05 {
			padding-bottom: 5px !important;
		}
		.pl#{$infix}-05,
		.px#{$infix}-05 {
			padding-left: 5px !important;
		}
	}
}
