.mobile-menu-toggle-btn {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  display: block;
  background-color: #fff;
  margin-top: 10px;
  position: relative;
  margin-left: 10px;
  float: left;

  &:focus {
    outline: none;
    border-color: $blue;
  }

  @include media-breakpoint-up(md) {
    margin-top: 20px;
    display: none;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.mobile-menu-toggle-icon {
  width: 16px;
  height: 2px;
  background-color: $gray-500;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -1px;
  margin-left: -8px;
  @include transition(all 0.3s ease);

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    left: 50%;
    margin-left: -8px;
    background-color: $gray-500;
    @include transition(all 0.3s ease);
  }

  &::before {
    @include transform(translateY(-5px));
  }

  &::after {
    @include transform(translateY(5px));
  }
}

.show-menu {
  .mobile-menu-toggle-btn {
    .mobile-menu-toggle-icon {
      @include transform(rotate(180deg));
      background-color: transparent;

      &::before {
        @include transform(rotate(45deg));
      }

      &::after {
        @include transform(rotate(-45deg));
      }
    }
  }
}
