.or-block {
    position: relative;
    font-size: 14px;

    &::before {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        height: 1px;
        background-color: $gray-300;
    }

    span {
        position: relative;
        z-index: 3;
        background-color: white;
        padding: 5px 20px;
        display: inline-block;
    }
}