.password {
    position: relative;
    z-index: 6;

    .password-strength {
        background-color: $gray-200;

        .password-star-rating-block {
            i {
                font-size: 22px;
                color: $gray-500;
            }
        }
    }

    @include media-breakpoint-up(md) {
        position: relative;

        .password-strength {
            position: absolute;
            width: 290px;
            top: 0;
            right: 0;
            @include transform(translateX(calc(100% + 0px)));

            &::before {
                content: "";
                width: 0;
                height: 0;
                border: 10px solid transparent;
                border-right-color: $gray-200;
                position: absolute;
                left: -20px;
                top: 35px;
            }
        }
    }
}