.password-input-block {
    position: relative;
    display: flex;
    align-items: center;

    .password-input {
        width: calc(100% - 40px);

        border-top-right-radius: 0;
        -webkit-border-top-right-radius: 0;
        -moz-border-top-right-radius: 0;
        -ms-border-top-right-radius: 0;

        border-bottom-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-bottom-right-radius: 0;
        -ms-border-bottom-right-radius: 0;
    }

    .password-toggle {
        width: 40px;
        height: 38px;
        float: left;
        border: 1px solid $gray-300;
        background-color: white;
        cursor: pointer;
        margin-left: -1px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $gray-600;

        border-top-left-radius: 0;
        -webkit-border-top-left-radius: 0;
        -moz-border-top-left-radius: 0;
        -ms-border-top-left-radius: 0;

        border-bottom-left-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-bottom-left-radius: 0;
        -ms-border-bottom-left-radius: 0;

        &:focus {
            outline: none;
            outline-color: transparent;
            @include box-shadow(0 0 0 transparent);
            border: 1px solid $primary;
        }

        i {
            font-size: 20px;
        }
    }
}