.products-heading {
  /* border-bottom: 1px solid #ddd; */
  padding-bottom: 10px;
}

.products-list {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 30px;
  }
}

.showHiddenList {
  border: none;
  background-color: transparent;
  color: $blue;
  cursor: pointer;
  padding: 0 18px 0 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -5px;
    width: 7px;
    height: 7px;
    border-right: 1px solid $blue;
    border-top: 1px solid $blue;
    display: block;
    @include transform(rotate(135deg));
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus,
  &:active {
    outline: none;
    outline-color: transparent;
  }

  &.active {
    &::before {
      @include transform(rotate(-45deg));
      margin-top: 0;
    }
  }
}

.filters-list {
  height: 140px;
  overflow: hidden;
  overflow-y: auto;
  &.hideAll {
    height: 90px;
    overflow: hidden;
  }
}
/* 
.filters-block {
  position: fixed;
  left: 30px;
  right: 30px;
  bottom: 0;
} */
