.process-flow-each-step {
  float: left;
  width: 100%;
  @extend .shadow;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: $gray-800;
  font-size: 18px;
  text-align: center;
  position: relative;
  height: 100%;
  @include border-radius(10px);
  padding: 50px 20px 30px 20px;

  .process-flow-each-step-number {
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: -30px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray-100;
    @include border-radius(100px);
    line-height: 1;
    font-size: 24px;
    color: $gray-600;
    border: 1px solid $gray-300;
  }
}
