.product-stars-block {
  position: relative;
  float: left;
  .product-stars-block-main {
    float: left;
    width: 100%;
    position: relative;
    border: 1px solid $gray-300;
    @include border-radius();
    background-color: #fff;
    @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));

    &::before,
    &::after {
      content: "";
      width: 0;
      height: 0;
      border: 10px solid transparent;
      position: absolute;
      top: -10px;
      left: 50%;
      margin-left: -5px;
      @include transform(translateY(-10px));
    }

    &::before {
      top: -11px;
      border-bottom-color: $gray-300;
    }

    &::after {
      border-bottom-color: white;
    }
  }

  .product-stars {
    float: left;
    &.with-arrow {
      padding-right: 14px;
      position: relative;

      &::after {
        content: "";
        width: 7px;
        height: 7px;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -7px;
        border-right: 1px solid $gray-500;
        border-bottom: 1px solid $gray-500;
        display: block;
        @include transform(rotate(45deg));
      }
    }

    i {
      font-size: 18px;
      color: $orange;
      line-height: 1;
    }
  }

  .product-stars-percentage-info {
    position: absolute;
    width: 240px;
    top: 0;
    left: -12px;
    z-index: 9;
    padding-top: 26px;
    display: none;

    .product-stars-percentage-count {
      @extend .full-width;
      font-size: 13px;
      color: $gray-600;
      padding: 6px 10px;
    }
  }

  .product-percentage-block {
    padding-left: 10px;
    padding-right: 10px;
  }

  .each-product-percentage {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-bottom: 4px;

    .each-product-percentage-text {
      color: $gray-600;
      float: left;
      width: 50px;
    }

    .each-product-percentage-fill {
      float: left;
      width: calc(100% - 88px);
      border: 1px solid #ddd;
      height: 17px;
      overflow: hidden;

      span {
        height: 15px;
        background-color: $orange;
        display: block;
        float: left;
        /* @include transform(translateX(-150%));
        @include transition(transform 0.5s ease); */
        /* @include transform(translateX(-200%));
				@include transition(all 0.5s ease); */
      }
    }

    .each-product-percentage-count {
      float: right;
      width: 38px;
      text-align: right;
      color: $gray-600;
    }
  }

  &.show {
    .product-stars-percentage-info {
      display: block;
    }
  }

  &:hover {
    /* .product-stars-percentage-info {
			display: block;
		} */

    /* .each-product-percentage {
			.each-product-percentage-fill {
				span {
					@include transform(translateX(0%));
					@include transition(all 0.5s ease);
				}
			}
		} */
  }

  .product-see-all-reviews {
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  @include media-breakpoint-up(md) {
  }
}
