.product-detail-country-tags {
  color: $gray-600;
}

.product-detail-tags-list {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5px;
}

.product-detail-country {
  width: 15px;
}

.product-detail-country-flag {
  display: inline-block;
  color: $blue;

  img {
    height: 15px;
    margin-right: 5px;
  }
}

.product-detail-rating-questions {
}

.time-block {
  display: block;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  background-color: #e9f1fd;
  border: 1px solid #d4e4fa;
  color: #d4e4fa;
  font-weight: 600;
}

@import "product-detail-review-stars";
@import "product-detail-qa";
@import "each-review";

.product-start-reviews-faqs-count {
  float: left;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 13px;

  @include media-breakpoint-up(md) {
    padding-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
