.each-qa-block {
  .each-qa-content-block {
    float: left;
    width: calc(100% - 40px);
    padding-left: 20px;
  }
}

.each-qa-up-down-vote-block {
  float: left;
  width: 40px;
  border: 1px solid #ccc;
  @include border-radius(5px);

  .up-vote-btn,
  .down-vote-btn {
    color: #aaa;
    font-size: 20px;
    text-align: center;
    background-color: white;
    border: none;
    width: 100%;

    i {
      line-height: 1;
    }
  }

  .up-vote-btn {
    border-bottom: 1px solid #ddd;
    @extend .rounded-top;

    &.active {
      background-color: $success;
    }
  }

  .down-vote-btn {
    border-top: 1px solid #ddd;
    @extend .rounded-bottom;

    &.active {
      background-color: $danger;
    }
  }

  &.done {
    .up-vote-btn,
    .down-vote-btn {
      cursor: not-allowed;
    }
  }

  .each-qa-vote-count {
    font-size: 12px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    float: left;
    width: 100%;

    span {
      display: block;
      line-height: 1;
      color: #555;
    }
  }
}

.each-question,
.each-answer {
  .each-qa-title {
    float: left;
    width: 100%;
    font-weight: 700;
  }

  .each-qa-title-content {
    float: left;
    width: 100%;
  }

  @include media-breakpoint-up(md) {
    .each-qa-title {
      width: 80px;
    }

    .each-qa-title-content {
      width: calc(100% - 80px);
    }
  }
}

.each-question {
  .each-qa-title-content {
    font-weight: 700;
  }
}

.each-answer {
  margin-top: 7px;

  .each-answer-block {
  }

  .each-qa-user-date-block {
    font-size: 13px;
    color: #888;
    font-style: italic;
    padding-top: 5px;

    a {
      color: $blue;
    }
  }
}

.each-more-answers-btn {
  font-size: 14px;
  color: $blue;
  background-color: transparent;
  border: none;
  padding: 0;
  position: relative;
  padding-right: 13px;
  margin-top: 8px;

  &:focus {
    outline-color: transparent;
    outline: none;
  }

  &:hover {
    text-decoration: underline;
  }

  &::before {
    content: "";
    width: 6px;
    height: 6px;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    display: block;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -4px;
    @include transform(rotate(-45deg));
  }
}
