/* Social Website Colors */
$facebook: #3b5998;
$twitter: #1da1f2;
$linkedin: #007bb5;
$google-plus: #db4437;
$instagram: #e4405f;
$youtube: #cd201f;
$pinterest: #bd081c;

.facebook-login {
  background-color: $facebook;
  color: white;
  border-color: $facebook !important;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.twitter-login {
  background-color: $twitter;
  color: white;
  border-color: $twitter !important;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.google-login {
  background-color: $google-plus;
  color: white;
  border-color: $google-plus !important;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.linkedin-login {
  background-color: $linkedin;
  color: white;
  border-color: $linkedin !important;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: none;
  }
}
