.nav-tabs {
  border-bottom: 1px solid #ddd;
  .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
    color: #999;

    &.active {
      border-bottom-color: $primary;
      color: $primary;
      font-weight: 600;
    }
  }
}

.tab-content {
  .tab-pane {
    padding: 20px 0px;
  }
}
